<div class="googlelogo" >

<img src="assets/images/googlelogo.png" style="display: block; margin: auto;margin-top:180px">

</div>
<div style="margin: auto; display: block ;width:600px">
  <input  class="inputbox" type="text" style="height: 42px ;width: 560px;  margin-top: 18px; font-size: 20px" >
  <img class="mic" title="search by mic" src="assets/images/mic.png" height="25px" style="margin-left: -40px; position:relative; top: 8px;  cursor: pointer" >
</div>

<div class="buttonsdiv">
<input class ="googlesearch" value="Google Search" type="submit" >
<input class ="googlesearch" value="I'm Feeling Lucky"  type="submit" style="margin-left: -5px;"  >
</div>
